<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TBoxConfigTool.VQC4A2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.VYNYC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.VD6CF52" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.QC4A2" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.YNYC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.V493" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.VKMS" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.V4D30" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.V348" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.V362" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="TBoxConfigTool.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <TBoxConfigTool.VQC4A2>
            <setting name="VQC4A2_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="VQC4A2_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="VQC4A2_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="VQC4A2_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="VQC4A2_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="VQC4A2_ecutype" serializeAs="String">
                <value>set ecutype 0</value>
            </setting>
            <setting name="VQC4A2_xcpch" serializeAs="String">
                <value>set xcpch 2</value>
            </setting>
            <setting name="VQC4A2_apptype" serializeAs="String">
                <value>set apptype 6</value>
            </setting>
            <setting name="VQC4A2_sockip" serializeAs="String">
                <value>set sockip t.ivehcore.com</value>
            </setting>
            <setting name="VQC4A2_sockport" serializeAs="String">
                <value>set sockport 31880</value>
            </setting>
            <setting name="VQC4A2_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.VQC4A2>
        <TBoxConfigTool.VYNYC>
            <setting name="VYNYC_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="VYNYC_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="VYNYC_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="VYNYC_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="VYNYC_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="VYNYC_ecutype" serializeAs="String">
                <value>set ecutype 0</value>
            </setting>
            <setting name="VYNYC_xcpch" serializeAs="String">
                <value>set xcpch 2</value>
            </setting>
            <setting name="VYNYC_apptype" serializeAs="String">
                <value>set apptype 5</value>
            </setting>
            <setting name="VYNYC_sockip" serializeAs="String">
                <value>set sockip t.ivehcore.com</value>
            </setting>
            <setting name="VYNYC_sockport" serializeAs="String">
                <value>set sockport 31880</value>
            </setting>
            <setting name="VYNYC_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.VYNYC>
        <TBoxConfigTool.VD6CF52>
            <setting name="VD6CF52_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="VD6CF52_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="VD6CF52_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="VD6CF52_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="VD6CF52_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="VD6CF52_ecutype" serializeAs="String">
                <value>set ecutype 0</value>
            </setting>
            <setting name="VD6CF52_xcpch" serializeAs="String">
                <value>set xcpch 2</value>
            </setting>
            <setting name="VD6CF52_apptype" serializeAs="String">
                <value>set apptype 10</value>
            </setting>
            <setting name="VD6CF52_sockip" serializeAs="String">
                <value>set sockip t.ivehcore.com</value>
            </setting>
            <setting name="VD6CF52_sockport" serializeAs="String">
                <value>set sockport 31880</value>
            </setting>
            <setting name="VD6CF52_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.VD6CF52>
        <TBoxConfigTool.QC4A2>
            <setting name="QC4A2_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="QC4A2_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="QC4A2_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="QC4A2_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="QC4A2_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="QC4A2_ecutype" serializeAs="String">
                <value>set ecutype 0</value>
            </setting>
            <setting name="QC4A2_xcpch" serializeAs="String">
                <value>set xcpch 2</value>
            </setting>
            <setting name="QC4A2_apptype" serializeAs="String">
                <value>set apptype 5</value>
            </setting>
            <setting name="QC4A2_sockip" serializeAs="String">
                <value>set sockip t.ivehcore.com</value>
            </setting>
            <setting name="QC4A2_sockport" serializeAs="String">
                <value>set sockport 31880</value>
            </setting>
            <setting name="QC4A2_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.QC4A2>
        <TBoxConfigTool.YNYC>
            <setting name="YNYC_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="YNYC_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="YNYC_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="YNYC_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="YNYC_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="YNYC_ecutype" serializeAs="String">
                <value>set ecutype 0</value>
            </setting>
            <setting name="YNYC_xcpch" serializeAs="String">
                <value>set xcpch 2</value>
            </setting>
            <setting name="YNYC_apptype" serializeAs="String">
                <value>set apptype 5</value>
            </setting>
            <setting name="YNYC_sockip" serializeAs="String">
                <value>set sockip t.ivehcore.com</value>
            </setting>
            <setting name="YNYC_sockport" serializeAs="String">
                <value>set sockport 31880</value>
            </setting>
            <setting name="YNYC_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.YNYC>
        <TBoxConfigTool.V493>
            <setting name="V493_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="V493_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V493_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V493_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V493_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V493_apptype" serializeAs="String">
                <value>set apptype 0</value>
            </setting>
            <setting name="V493_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V493_socketport" serializeAs="String">
                <value>set 11005</value>
            </setting>
            <setting name="V493_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.V493>
        <TBoxConfigTool.VKMS>
            <setting name="VKMS_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="VKMS_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="VKMS_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="VKMS_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="VKMS_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="VKMS_apptype" serializeAs="String">
                <value>set apptype 4</value>
            </setting>
            <setting name="VKMS_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="VKMS_socketport" serializeAs="String">
                <value>set socketport 11005</value>
            </setting>
            <setting name="VKMS_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.VKMS>
        <TBoxConfigTool.V4D30>
            <setting name="V4D30_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="V4D30_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V4D30_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V4D30_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V4D30_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V4D30_apptype" serializeAs="String">
                <value>set apptype 3</value>
            </setting>
            <setting name="V4D30_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V4D30_socketport" serializeAs="String">
                <value>set socketport 11005</value>
            </setting>
            <setting name="V4D30_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.V4D30>
        <TBoxConfigTool.V348>
            <setting name="V348_can1baud" serializeAs="String">
                <value>set can1baud 125</value>
            </setting>
            <setting name="V348_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V348_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V348_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V348_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V348_apptype" serializeAs="String">
                <value>set apptype 1</value>
            </setting>
            <setting name="V348_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V348_socketport" serializeAs="String">
                <value>set socketport 11005</value>
            </setting>
            <setting name="V348_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.V348>
        <TBoxConfigTool.V362>
            <setting name="V362_can1baud" serializeAs="String">
                <value>set can1baud 125</value>
            </setting>
            <setting name="V362_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V362_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V362_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V362_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V362_apptype" serializeAs="String">
                <value>set apptype 2</value>
            </setting>
            <setting name="V362_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V362_socketport" serializeAs="String">
                <value>set socketport 11005</value>
            </setting>
            <setting name="V362_platform" serializeAs="String">
                <value>set platform ShangHai</value>
            </setting>
        </TBoxConfigTool.V362>
        <TBoxConfigTool.Settings1>
            <setting name="V493_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="V493_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V493_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V493_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V493_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V493_apptype" serializeAs="String">
                <value>set apptype 0</value>
            </setting>
            <setting name="V362_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V362_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V362_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V362_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V362_apptype" serializeAs="String">
                <value>set apptype 2</value>
            </setting>
            <setting name="V348_can1baud" serializeAs="String">
                <value>set can1baud 125</value>
            </setting>
            <setting name="V348_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V348_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V348_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V348_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V348_apptype" serializeAs="String">
                <value>set apptype 1</value>
            </setting>
            <setting name="V4D30_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="V4D30_can2baud" serializeAs="String">
                <value>set can2baud 500</value>
            </setting>
            <setting name="V4D30_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="V4D30_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="V4D30_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="V4D30_apptype" serializeAs="String">
                <value>set apptype 3</value>
            </setting>
            <setting name="VKMS_can1baud" serializeAs="String">
                <value>set can1baud 250</value>
            </setting>
            <setting name="VKMS_can2baud" serializeAs="String">
                <value>set can2baud 250</value>
            </setting>
            <setting name="VKMS_can3baud" serializeAs="String">
                <value>set can3baud 500</value>
            </setting>
            <setting name="VKMS_j1939ch" serializeAs="String">
                <value>set j1939ch 2</value>
            </setting>
            <setting name="VKMS_obdch" serializeAs="String">
                <value>set obdch 2</value>
            </setting>
            <setting name="VKMS_apptype" serializeAs="String">
                <value>set apptype 4</value>
            </setting>
            <setting name="V493_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V493_socketport" serializeAs="String">
                <value>set 11005</value>
            </setting>
            <setting name="V362_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V362_socketport" serializeAs="String">
                <value>set 11005</value>
            </setting>
            <setting name="V348_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V348_socketport" serializeAs="String">
                <value>set 11005</value>
            </setting>
            <setting name="V4D30_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="V4D30_socketport" serializeAs="String">
                <value>set 11005</value>
            </setting>
            <setting name="VKMS_socketip" serializeAs="String">
                <value>set sockip gateway.jlguo6.burnish.cn</value>
            </setting>
            <setting name="VKMS_socketport" serializeAs="String">
                <value>set 11005</value>
            </setting>
            <setting name="V362_can1baud" serializeAs="String">
                <value>set can1baud 125</value>
            </setting>
        </TBoxConfigTool.Settings1>
    </userSettings>
</configuration>
